@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    scroll-behavior: smooth;

    [id] {
      scroll-margin-top: 40px;
    }

    @apply text-neutral-950;
    @apply dark:text-neutral-50;

    font-family: var(--ff-main, system-ui), system-ui, sans-serif;

    :is(h1, h2, h3, h4, h5, h6, .font-title) {
      font-family: var(--ff-title, system-ui), system-ui, sans-serif;
    }
  }

  html, body {
    height: 100%;
  }

  h1 {
    @apply mt-8;
  }
  h2 {
    @apply mt-6;
  }

  p, ul, ol {
    @apply mt-4;
  }

  ul, ol {
    @apply ml-4;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply mb-2
  }
}

@layer utilities {
  .masonry-1 {
    column-gap: 1.5em;
    column-count: 1;
  }
  .masonry-2 {
    column-gap: 1.5em;
    column-count: 2;
  }
  .masonry-3 {
    column-gap: 1.5em;
    column-count: 3;
  }
  .masonry-4 {
    column-gap: 1.5em;
    column-count: 4;
  }
  .masonry-5 {
    column-gap: 1.5em;
    column-count: 5;
  }
  .break-inside {
    break-inside: avoid;
  }
}
