<main>
  <p>Last updated on August 25, 2024</p>

  <p>
    The site <a href="https://seo-kit.io">seo-kit.io</a> is governed by French law. Any dispute or legal issue related to the use of the site shall be subject to the exclusive jurisdiction of the French courts.
  </p>

  <h1>Terms of Service / Sales</h1>

  <h2>About Us</h2>
  <p>
    The company MERCERON Alexis (hereinafter the "Company") is a sole proprietorship, headquartered at 19 Place du Président Kennedy, 49100 Angers (848 971 453 R.C.S. Angers). The Company offers its Users the following services via its Website: SEO content.
  </p>

  <h2>Preamble</h2>
  <p>
    The Site invites Users to carefully read these General Terms of Sale and Use (hereinafter the "GTS/GCU"). Creating an account implies acceptance of the GTS/GCU. The photographs or graphics presented on the Website are not contractual.
    <br>The GTS/GCU govern the conditions under which the Site intends to provide its services.
    <br>They are systematically communicated to the User upon request.
    <br>In case of subsequent modification of the GTS/GCU, the User is subject to the version in force at the time of their last acceptance of the GTS/GCU.
  </p>

  <h2>Definitions</h2>
  <ul>
    <li><strong>"Client"</strong> refers to the person who has placed an Order for a Product sold on the Website;</li>
    <li><strong>"Order"</strong> refers to any order placed by the User on this Website;</li>
    <li><strong>"General Terms of Sale and Use"</strong> or <strong>"GTS/GCU"</strong> refers to these general terms of online use and sale;</li>
    <li><strong>"Consumer"</strong> refers to the Client who does not act for professional needs and/or outside their professional activity;</li>
    <li><strong>"Products"</strong> refers to tangible goods that can be owned and are offered for sale on this Website;</li>
    <li><strong>"Site"</strong> refers to this website, namely <a href="https://seo-kit.io">seo-kit.io</a>;</li>
    <li><strong>"Company"</strong> refers to the company MERCERON Alexis - SEO KIT, as described in Article I of these terms;</li>
    <li><strong>"User"</strong> refers to any legal or natural person who uses this Website;</li>
    <li><strong>"Services"</strong> refers to any technical operation carried out on this Website;</li>
  </ul>

  <h1>General Terms of Use</h1>

  <h2>Products and Prices</h2>
  <p>
    The Products covered by the GTS/GCU are those listed on the Site and sold directly by the Company.
    <br>The Products are described on the corresponding page within the Site, and all their essential characteristics are mentioned. The sale is conducted within the limits of the Company's available stock. The Company cannot be held responsible for stock shortages or the inability to sell a Product if the stock is non-existent.
    <br>When a registered User wishes to purchase a Product sold by the Company through the Site, the price indicated on the Product page is the price in euros, excluding shipping costs. The final price displayed by our provider, Lemon Squeezy, LLC, takes into account applicable and current discounts on the day of the Order. The indicated price does not include delivery fees, which will be detailed if necessary in the summary before placing the Order. If the total cost of the Products cannot be calculated in advance, the Company will send the Client a detailed quote explaining the pricing formula.
    <br>In no case can a User demand the application of discounts that are no longer in effect on the day of the Order.
  </p>

  <h2>Modifications</h2>
  <p>
    The Company reserves the right to modify the Website, the GTS/GCU, as well as any delivery procedure or other element related to the services provided by the Company through this Website.
    <br>The User is subject to the provisions of the GTS/GCU in effect at the time the Order is placed.
  </p>

  <h2>Data Protection and Privacy</h2>
  <p>
    In accordance with the law of January 6, 1978, the personal data requested from the Client is strictly necessary for the processing of their Order.
    <br>This data may be communicated to partners responsible for executing the Orders. The User may therefore receive information or commercial offers from the Company or its partners.
    <br>This data processing has been declared to the CNIL.
    <br>In accordance with the Data Protection and Privacy Law of January 6, 1978, the Client has the right, at any time, to access, rectify, and oppose all of their personal data by writing, with proof of identity, to the following address: MERCERON ALEXIS, 19 Place du Président Kennedy, 49100 Angers, or by email: rgpd&#64;seo-kit.io. The User may opt-out of receiving commercial offers at any time by writing to the address above, or by clicking the link provided for this purpose in the emails received.
    <br>To allow its Users to benefit from optimal navigation on the Website and better functionality of various interfaces and applications, the Company may install a cookie on the User's computer. This cookie stores information related to the navigation on the Website, as well as any data entered by the Users.
    <br>The User expressly authorizes the Company to place a "cookie" file on their hard drive.
    <br>The User has the option to block, modify the duration of storage, or delete this cookie via their browser interface. If the systematic deactivation of cookies on the User's browser prevents them from using certain services or features of the Website, this malfunction shall not in any case constitute damage for the member, who cannot claim any compensation as a result.
  </p>

  <h2>Liability</h2>
  <p>
    The Company cannot be held liable for the unavailability, whether temporary or permanent, of the Website. Although it employs all means to ensure the service is available continuously, it may be interrupted at any time. Additionally, the Company reserves the right, by a voluntary act, to make the Website unavailable in order to perform updates, improvements, or maintenance.
    <br>As mentioned previously in these terms, the Company cannot be held responsible for delivery delays due to reasons beyond its control, independent of its will, unforeseeable, and irresistible, or for which it is not at fault.
    <br>Moreover, since the Website is still in an "Early Access" version, we cannot be held liable for any data loss.
    <br>The Website only provides tools to the User. The Company commits to facilitating the understanding of SEO but does not guarantee any specific results.
  </p>

  <h2>Intellectual Property</h2>
  <p>
    All elements of the Website remain the intellectual and exclusive property of the Company.
    <br>No one is authorized to reproduce, exploit, or use in any way, whether partially or in full, the elements of the Website, be they software, visual, or audio.
    <br>Any content uploaded by the User is their sole responsibility. The User agrees not to upload content that may harm the interests of third parties. Any legal action brought by a third party harmed by the content will be borne by the User.
  </p>

  <h2>Jurisdiction Clause</h2>
  <p>
    The law governing the GTS/GCU is French law. Any dispute that may arise between the Company and a User during the execution of these terms will be subject to an attempt at amicable resolution. Failing that, disputes will be brought before the competent courts of common law in Angers.
  </p>

  <h2>Acceptance of the GTS/GCU</h2>
  <p>
    The Client or User expressly accepts the GTS/GCU.
    <br>The Client acknowledges being aware of them and waives the right to rely on any other document, including their own general purchasing conditions.
    <br>The Consumer acknowledges having been informed of the information and details provided in Articles L.111-1 to L.111-7 of the Consumer Code, specifically:
  </p>
  <ul>
    <li>The essential characteristics of the Product;</li>
    <li>The price of the Products;</li>
    <li>The date or timeframe within which the Company commits to providing the Service;</li>
    <li>Information relating to the identity of the Company (postal and electronic contact details);</li>
    <li>Information regarding legal and contractual guarantees and how to implement them;</li>
    <li>The possibility of using conventional mediation in case of a dispute;</li>
    <li>Information regarding the right of withdrawal (timeframe, terms of exercise).</li>
  </ul>

  <h1>General Terms of Sale</h1>

  <h2>Purpose - Enforceability</h2>
  <ol type="a">
    <li>
      The Company provides its clients with the website <a href="https://seo-kit.io">seo-kit.io</a>, a platform for learning SEO with Angular, hereinafter referred to as the "SEO KIT Platform."
      <br>These general conditions apply by right to any service provided by the Company within the framework of the SEO KIT Platform (hereinafter "Services"), to any buyer (hereinafter "Client"), who accepts them and acknowledges having full knowledge of them, thus waiving the right to rely on any contradictory document, including their own general purchasing conditions. Consequently, placing an order implies full and unconditional acceptance and adherence by the Client to these general conditions, to the exclusion of all other documents from the Client or the Company, such as brochures, catalogs, etc., which only have an indicative value.
    </li>
    <li>
      No document other than these present terms can create obligations for the parties or derogate from them unless it is in writing and signed by the parties or mentioned in the formed contract.
    </li>
    <li>
      The Client agrees that the Company may reasonably modify these general conditions in the future and that their relationship will always be governed by the latest terms in effect on the day of the order.
    </li>
  </ol>

  <h2>Formation of Contracts</h2>
  <ol type="a">
    <li>
      Our order process is conducted by our online reseller Paddle.com. Paddle.com is the Merchant of Record for all our orders. Paddle provides all customer service inquiries and handles returns.
    </li>
    <li>
      By purchasing access to the SEO KIT repository, the Client may at any time:
      <br>• Review and copy the source code provided by SEO KIT.
    </li>
    <li>
      Unless proven otherwise, the data recorded by the Company constitutes proof of all transactions.
    </li>
    <li>
      In any case, the Company reserves the right to refuse any order in the event of an existing dispute with the Client, total or partial non-payment of a previous order by the Client. The Company's liability cannot be engaged in such circumstances.
    </li>
    <li>
      The information available on the SEO KIT Platform is provided for informational purposes. The Company reserves the right to make changes without altering the material quality or performance of the Services.
    </li>
    <li>
      The benefits of the Contract are personal to the Client and cannot be transferred in any manner without the prior written consent of the Company.
    </li>
  </ol>

  <h2>Services</h2>
  <p>
    As part of using the SEO KIT Platform, the Client may order the Services described below. The Client acknowledges that the SEO KIT Platform is subject to change, and as such, the Services may be adjusted accordingly. Any removal of Services offered on the SEO KIT Platform will be notified to the Client.
  </p>

  <h2>Financial Conditions</h2>
  <ol type="a">
    <li>
      Prices are understood to be excluding taxes, in euros, and are detailed in the Contract. In return for the Services as described above, the Company will receive from the Client a lump sum corresponding to the chosen offer, the amount of which is determined by the Company according to the current pricing available on the website or upon request.
    </li>
    <li>
      Prices are subject to change without notice. The Company will inform the Client of any changes.
    </li>
    <li>
      The Client chooses to pay for their order through Lemon Squeezy and is automatically redirected to the Lemon Squeezy page of the SEO KIT Platform. The commercial terms of Lemon Squeezy are then applicable.
    </li>
    <li>
      Any amount not paid within the agreed timeframe will accrue interest at three times the legal interest rate and will result in a penalty of 40 euros for recovery costs. Late payment penalties are due from the first day of delay without any need for a formal notice or reminder, and they accrue until full payment of all sums due, including interest.
    </li>
    <li>
      The Client cannot invoke any reason to defer or modify the payment terms or to unilaterally reduce the price. In case of non-payment within the agreed timeframe, and forty-eight (48) hours after an unsuccessful formal notice, the Company may demand immediate payment of the remaining balance, suspend access to the SEO KIT Platform, without prejudice to seeking damages and/or the termination or rescission of the Contract.
    </li>
    <li>
      The use of the SEO KIT Platform will consume part of the data transmission package subscribed to by the Client with their mobile and/or internet service provider. The responsibility for obtaining the relevant information and paying any fees charged by the Client's service provider lies entirely with the Client.
    </li>
  </ol>

  <h2>Warranties – Liability</h2>
  <ol type="a">
    <li>
      It is the Client's responsibility to communicate their needs to the Company and ensure that the agreed characteristics fully meet their expectations. The Client is deemed to fully understand the Services they are acquiring and acknowledges that they have obtained and understood the relevant information regarding the Services offered by the Company.
      <br>The Company cannot be held liable to the Client if the delivered Services conform to those ordered. Conformity to the order is assessed by reference to the Contract.
    </li>
    <li>
      In case of doubt regarding the interpretation of a clause or in the absence of a mention determining the exact scope of the Company's obligations, the Client acknowledges that the Company's obligations will be understood as obligations of means. The Company may always prevent liability by rectifying or replacing a non-conforming Service.
      <br>In any case, except in the event of gross or willful misconduct, the Company's liability will never exceed the amount paid by the Client in exchange for its obligations during the year in which the alleged non-performance occurred.
      <br>The Company shall not be held liable for any immaterial and/or indirect damage, including loss of business, loss of clientele, loss of revenue, loss of data, moral or commercial prejudice, damage to brand image, or more generally, any financial loss that the Client may suffer. Any dispute by the Client regarding the proper performance of the Company's contractual obligations must be substantiated and communicated via registered mail with acknowledgment of receipt, no later than one year after the alleged non-performance. Failure to do so will be considered a waiver by the Client to challenge the proper performance of the Company's contractual obligations.
    </li>
  </ol>

  <h2>Confidentiality</h2>
  <p>
    The parties agree not to disclose any information of any nature that is brought to their knowledge by the other party in any way, and to use such information only to fulfill the obligations arising from this agreement. This confidentiality obligation will survive the termination of this relationship for any reason for a period of five (5) years. The parties will take all necessary measures with their personnel and partners to ensure compliance with the above-mentioned confidentiality obligation and guarantee this commitment of confidentiality by them.
  </p>

  <h2>Intellectual Property</h2>
  <ol type="a">
    <li>
      Unless expressly stated otherwise in the Contract, the Contract does not involve any transfer of intellectual property rights related to the Services in favor of the Client. The Company remains the owner of the intellectual property rights related to the Services provided under the Contract. Similarly, all plans, documents, technical data, manuals, samples, or any other documents provided to the Client in the execution of the Contract by the Company, along with any related intellectual property rights, remain the exclusive property of the Company.
      <br>Consequently, the Client only acquires, by paying the price as stipulated in the Contract, a right to use the protectable results of the Services under the Company's intellectual property rights. For any other use, the Client must approach the Company to define the terms, particularly financial ones. Any mock-ups produced by the Client may be used by the Company for anonymized statistical purposes.
    </li>
    <li>
      The Client guarantees that all elements provided to the Company for the execution of the Services do not infringe on the intellectual property rights of third parties. The Client indemnifies the Company against any consequences of any nature (including legal fees, attorney fees, damages, and compensation) in the event that the Company's liability is sought by a third party.
    </li>
  </ol>

  <h2>Personal Data</h2>
  <ol type="a">
    <li>
      The Client is informed and agrees that by placing an order, the Company may store, process, and use the data mentioned in the order for the purpose of processing it, in accordance with the provisions of the Data Protection Act of January 6, 1978, as amended by the law of October 7, 2017, and Regulation 2016/679 of April 27, 2016 on the protection of personal data (or "GDPR"). This information is strictly confidential and intended solely for the Company.
      <br>The Client has, in accordance with national and European regulations, the right to access, rectify, delete their personal data, the right to restrict processing, the right to object to processing, and the right to data portability. They can exercise these rights by contacting (rgpd&#64;seo-kit.io). They also have the right to lodge a complaint with a supervisory authority. Finally, they have the right to define directives regarding the fate of their personal data after their death.
      <br>The Client's personal data may also be used for commercial prospecting purposes by electronic means, either by the Company or by its partner companies, provided that, in the latter case, prior and explicit consent has been obtained from the Client.
    </li>
    <li>
      The Company undertakes to respect the conditions of processing and/or the purpose of the personal data communicated to it by the Client or to which it will have access in the context of the performance of the Contract. In particular, the Company undertakes not to use for its own account, transfer, or lease to third-party companies the personal data collected in the context of the performance of the Contract.
    </li>
  </ol>

  <h2>Force Majeure</h2>
  <p>
    Initially, cases of force majeure as defined in Article 1218 of the Civil Code will suspend the obligations of the Parties. In the event of such an occurrence, the parties will endeavor in good faith to take all reasonably possible measures to continue the performance of the Contract. If the force majeure or unforeseen events last more than sixty (60) days, the Contract may be terminated by either party, without any compensation due from either party.
  </p>

  <h2>Right of Withdrawal</h2>
  <p>
    In accordance with Article L221-28 13° of the Consumer Code, the Client waives their right of withdrawal when subscribing to the offer.
  </p>

  <h2>Duration</h2>
  <p>
    Access to the SEO KIT Platform is granted by the Company to the Client except in the cases provided for in the "Early Termination - Consequences of Termination" section.
  </p>

  <h2>Early Termination – Consequences of Termination</h2>
  <p>
    The Company has the right to terminate and/or resolve the Contract, automatically, by registered letter with acknowledgment of receipt:
  </p>
  <ul>
    <li>In the event of total or partial non-performance of its obligations by the Client, including the obligation to pay, confidentiality obligations, respect for the Company's intellectual property rights, and more generally, the fair execution of the Contract, seven (7) days after a formal notice sent by registered letter with acknowledgment of receipt that remains unsuccessful and contains the Company's declaration of its intention to invoke this clause, without prejudice to compensation for any direct and indirect damages that this termination may cause.</li>
    <li>In the case where, due to the nature of the unfulfilled obligation, it is not possible for the defaulting party to remedy it (e.g., failure to comply with a non-performance obligation), the Contract may be terminated automatically by either party without notice, and the Contract will end upon receipt of the letter notifying the termination.</li>
    <li>In the event of early termination of the Contract, the Company will be released from its delivery obligation. It will refund the Client pro rata for any sums paid for orders not yet executed, except when the termination is due to a fault of the Client. The Company will owe no compensation to the Client.</li>
  </ul>

  <h2>Governing Law – Dispute Resolution</h2>
  <ol type="a">
    <li>
      All clauses in these general conditions and all contractual operations referred to therein are subject to French law, with the exception of any international agreements.
    </li>
    <li>
      The law governing these General Conditions is French law. Any dispute that may arise between the Company and the Client during the execution of these terms will be subject to an attempt at amicable resolution. If unsuccessful, any dispute arising from the operations referred to in these General Conditions, even in the case of multiple defendants or third-party claims, which is not resolved within thirty (30) days from its notification by the most diligent party, will fall under the exclusive jurisdiction of the Commercial Court of Angers, which is expressly accepted by the Client.
    </li>
  </ol>

  <h2>General Provisions</h2>
  <ol type="a">
    <li>
      The fact that the Company does not invoke any provision of these general conditions at any given time cannot be interpreted as a waiver of its right to invoke it later, including not claiming a late payment.
    </li>
    <li>
      The possible invalidation of one clause will not affect the validity of the other clauses in these terms.
    </li>
    <li>
      In the event of a dispute, the parties agree to consider email as an original document with full proof value and waive contesting this means of proof, except to dispute its authenticity.
    </li>
  </ol>

</main>
