<div>
  <p>Last updated on August 25, 2024</p>

  <p>
    The site <a href="https://seo-kit.io">seo-kit.io</a> is governed by French law. Any dispute or legal issue related to the use of the site shall be subject to the exclusive jurisdiction of the French courts.
  </p>


  <h1>Privacy Policy</h1>

  <p>
    This privacy policy (the "Policy") aims to formalize our commitment to respecting the privacy of users of the website <a href="https://seo-kit.io">seo-kit.io</a>.
  </p>
  <p>
    In the context of providing our Website, we process your personal data in compliance with the General Data Protection Regulation 2016/679 of April 27, 2016 ("GDPR") and under the conditions outlined below. Personal data refers to any information relating to an identified or identifiable individual. We collect and process personal data solely in the context of providing our Services or communicating about these Services, in strict compliance with the GDPR.
    <br>We collect only the personal data that is adequate, relevant, and limited to what is necessary for the purposes for which they are processed. Therefore, you will never be asked to provide personal data considered "sensitive," such as your racial or ethnic origins, political, philosophical, or religious opinions. By registering on the Website, you authorize us to process your personal data in accordance with the Policy. If you disagree with the terms of this Policy, please refrain from using the Website and Services.
  </p>

  <h2>When do we collect your personal data and what data is collected?</h2>
  <p>
    We may collect and retain your personal data, particularly when you:
  </p>
  <ul>
    <li>Browse the Website</li>
    <li>Subscribe to the newsletter</li>
    <li>Contact us</li>
  </ul>

  <p>
    We use your personal data to enable the implementation and management of the Website's Services and to respond to your specific requests. We also use your personal data to operate and improve our Services, our Website, and our approach. This information is used solely by us and allows us to better tailor our Services to your expectations. If you have opted to receive emails and messages from us when creating your Account, you will receive electronic and alphanumeric messages about our products and promotions. We will use the personal data you provided during your registration. You can unsubscribe from these messages at any time.
  </p>

  <h2>Browsing the Website</h2>
  <ol type="a">
    <li>
      <strong>Connection Data:</strong>
      <br>Each time you connect to our Website, we collect personal data such as your IP address, your computer's MAC address, the date and time of connection, and information about the browser you are using.
    </li>
    <li>
      <strong>Browsing Data:</strong>
      <br>We also collect information identifying how you access the Website, the pages visited, and the duration of the visit. In this context, we may use cookies as described in section 6 below.
    </li>
  </ol>

  <h2>Newsletter Subscription</h2>
  <p>
    By subscribing to the newsletter, you explicitly consent to the use of your email address, first name, and last name for internal communications. Under no circumstances will this data be shared with third parties.
  </p>

  <h2>Contacts</h2>
  <p>
    To respond to your requests to our Customer Service, confirm information and any transactions on your Account, and provide you with information about the Services (e.g., if changes are made to the Terms of Use), we will use your first name, last name, and email address.
  </p>

  <h2>How do we protect your personal data?</h2>
  <p>
    We have implemented technical and organizational security measures to ensure the security, integrity, and confidentiality of all your personal data, to prevent it from being altered, damaged, or accessed by unauthorized third parties. We ensure an appropriate level of security, taking into account the state of knowledge, implementation costs, and the nature, scope, context, and purposes of processing, as well as the risks and their likelihood.
    <br>However, it is specified that no security measure is infallible, and SEO KIT cannot guarantee absolute security for your personal data. Moreover, it is your responsibility to ensure the confidentiality of the password that allows you to access your account. Do not share this information with anyone. If you share your computer, remember to log out.
  </p>

  <h2>When do we share your personal data?</h2>
  <ol type="a">
    <li>
      <strong>Sharing your personal data with third-party companies</strong>
      <br>While browsing the Website, your personal data may be transmitted to external service providers. These third parties provide a service on our behalf and for us to ensure the proper functioning of the services.
      <br>Personal data may be transferred to countries outside the European Union to process your requests and host and secure personal data. In accordance with the GDPR, all transfers of personal data to a country outside the European Union and/or not offering a level of protection considered sufficient by the European Commission have been subject to cross-border flow agreements compliant with the standard contractual clauses issued by the European Commission and declared to the CNIL.
      <br>Unless a third party asks you to accept its privacy policy and terms of use, third-party companies that have received communication of your personal data are committed to processing your personal data only for the implementation of our services. We will never share your personal data with third-party companies for marketing and/or commercial purposes without your prior consent.
    </li>
    <li>
      <strong>Sharing with authorities</strong>
      <br>We may be required to disclose your personal data to administrative or judicial authorities when their disclosure is necessary for the identification, arrest, or prosecution of any individual who may harm our rights, any other user, or a third party. We may also be legally required to disclose your personal data and cannot oppose it in such a case.
    </li>
    <li>
      <strong>How long do we keep your personal data?</strong>
      <br>We will retain your personal data only for the duration of your registration on the site to ensure your identification when connecting to your account and to provide the services.
      <br>Therefore, if you unsubscribe from the Website, your personal data will be deleted and retained only in archived form for the purpose of establishing proof of a right or a contract.
      <br>In any case, we will retain your personal data for no longer than necessary for the purposes for which they are processed, in accordance with the uses outlined in this policy and in compliance with applicable laws and regulations.
    </li>
  </ol>

  <h2>Cookies: how do we use them?</h2>
  <ol type="a">
    <li>
      <strong>What is a cookie?</strong>
      <br>A cookie is a text file that may be stored on a terminal when viewing an online service with a browser. A cookie file allows its issuer to recognize the terminal concerned each time it accesses digital content containing cookies from the same issuer during its validity period.
      <br>In any case, cookies stored on your browser terminal with your consent are deleted 13 months after being stored on your terminal.
    </li>
    <li>
      <strong>What are the cookies issued on our site used for?</strong>
      <br>The cookies we issue allow us to:
      <ul>
        <li>
          establish statistics and volumes of traffic and use of the various elements that make up our site (sections and content visited, browsing paths), enabling us to improve the interest and ergonomics of our services;
        </li>
        <li>
          adapt the presentation of our Website to the display preferences of your terminal (language used, display resolution, operating system used, etc.) during your visits to our site, depending on the hardware and software you use for viewing or reading content on your terminal;
        </li>
        <li>
          store information related to a form you have filled out on our site (registration or access to your account) or products, services, or information you have chosen on our site;
        </li>
        <li>
          allow you to access reserved and personal areas of our site, such as your account, using identifiers or data you may have previously provided to us, and implement security measures, for example, when you are asked to log in again to a content or service after a certain period of time.
        </li>
      </ul>
      <br>While browsing the Website, cookies from social networks may be generated, notably through sharing buttons that collect personal data.
      <br>During your first visit to the site, a cookie banner will appear on the homepage. A clickable link allows you to learn more about the purpose and operation of cookies and refers to this Policy. Continuing to browse on another page of the site or selecting an element of the Site (notably: image, text, link, etc.) signifies your acceptance of the cookies being placed on your computer.
    </li>
    <li>
      <strong>How can you control the cookies used?</strong>
      <br>You can configure your browser software at any time to allow cookies to be stored on your terminal or, conversely, to reject them (either systematically or according to their issuer). You can also configure your browser software to prompt you to accept or refuse cookies before a cookie is stored on your terminal.
      <br>Warning: Any configuration is likely to modify your browsing on the Internet and your conditions of access to certain services requiring the use of cookies. We decline all responsibility for the consequences related to the degraded functioning of our services resulting from the inability to record or consult the cookies necessary for their functioning that you have refused or deleted. This would be the case if you attempted to access our content or services that require you to identify yourself. This would also be the case if we (or our service providers) could not recognize the type of browser used by your terminal, its language, and display settings, or the country from which your terminal appears to be connected to the Internet for technical compatibility purposes.
      <br>If you choose to refuse the storing of cookies on your terminal or browser or if you delete those already stored, we decline all responsibility for the consequences related to the degraded functioning of our services.
    </li>
    <li>
      <strong>How to configure your browser software</strong>
      <br>To manage cookies and your preferences, each browser configuration is different. It is described in the help menu of your browser, which will explain how to change your cookie preferences.
    </li>
  </ol>

  <h2>What are your rights?</h2>
  <p>
    You are the only one who has communicated the data in our possession through the Website. You have rights regarding your personal data. In accordance with the data protection regulations, particularly Articles 15 to 22 of the GDPR, and after having justified your identity, you have the right to request access, rectification, and deletion of your personal data. Additionally, within the limits of the law, you also have the right to oppose the processing, limit its use, and withdraw your consent at any time.
    <br>For each of these requests, you can contact us at the following address: <strong>SEO KIT, 24 RUE RENE CASSIN, 69007 LYON</strong>, or by email at <strong>contact&#64;seo-kit.io</strong>.
  </p>

  <h2>Can we modify the Policy?</h2>
  <p>
    We reserve the right to modify the Policy at any time. It is therefore recommended that you regularly consult this Policy. In the event of any modification, we will publish these changes on this page and in places we deem appropriate based on the purpose and significance of the changes made.
    <br>Your use of the Website after any modification means that you accept those modifications. If you do not agree with certain substantial changes to this Policy, you must stop using the Website.
  </p>
</div>
