<div class="flex justify-between items-center mt-8">
  <h3 class="font-title text-xl">FAQ</h3>

  <div class="flex rounded-lg bg-neutral-100 p-0.5">
    <button class="flex items-center rounded-md py-[0.4375rem] pl-2 pr-2 text-sm font-semibold lg:pr-3" [ngClass]="{'active-mode-demo': showPreview()}" (click)="showPreview.set(true)">Preview</button>
    <button class="flex items-center rounded-md py-[0.4375rem] pl-2 pr-2 text-sm font-semibold lg:pr-3" [ngClass]="{'active-mode-demo': !showPreview()}" (click)="showPreview.set(false)">Code</button>
  </div>
</div>

<p class="mt-4 max-w-prose">
  The "FAQ" component features an overtitle, a main title, and a list of question-and-answer items to help address common questions effectively.
</p>

@if (showPreview()) {
<h4 class="font-title text-lg mt-8 mb-2">Preview</h4>

  <app-component-card>
    <seok-faq [data]="faqData()"></seok-faq>
  </app-component-card>
} @else {
  <div class="flex justify-between items-center mt-8">
    <h4 class="font-title text-lg">HTML</h4>
    <button class="flex items-center rounded-md py-[0.4375rem] pl-2 pr-2 text-sm font-semibold lg:pr-3 active-mode-demo" (click)="copy(faqHtml())">Copy</button>
  </div>
  <pre><code class="text-sm mt-2 rounded-lg" [highlight]="faqHtml()" language="html"></code></pre>

  <h4 class="font-title text-lg mt-8">Imports</h4>
  <pre><code class="text-sm mt-2 rounded-lg" [highlight]="faqImport()" language="typescript"></code></pre>

  <div class="flex justify-between items-center mt-8">
    <h4 class="font-title text-lg">Data</h4>
    <button class="flex items-center rounded-md py-[0.4375rem] pl-2 pr-2 text-sm font-semibold lg:pr-3 active-mode-demo" (click)="copy(faqTsData())">Copy</button>
  </div><pre><code class="text-sm mt-2 rounded-lg" [highlight]="faqTsData()" language="typescript"></code></pre>
}
