<seok-catchphrase [data]="catchphraseData()"></seok-catchphrase>

<seok-big-title class="mt-20 !max-w-[600px]" [data]="{
  title: 'Achieve Perfect Performance',
  overtitle: 'Unmatched Speed and Efficiency',
  subtitle: 'See Your Website Score 100 on Google PageSpeed',
  overtitlePrimary: true
}"></seok-big-title>

<seok-image-presentation [data]="{
  img: {
    alt: 'Pagespeed results for seo-kit.io',
    link: '/pagespeed-seo-kit.webp',
    objectFit: 'contains',
    caption: 'Pagespeed results for seo-kit.io'
  },
  width: '1000',
  height: '582',
  loading: 'auto'
}"></seok-image-presentation>

<div class="not-centered flex flex-col gap-60 mt-60">
  <seok-classic-text-image
    id="setupcti"
    [data]="setupcti()"
  ></seok-classic-text-image>

  <seok-classic-text-image
    id="configurepreviewcti"
    [data]="configurepreviewcti()"
  ></seok-classic-text-image>

  <seok-classic-text-image
    id="seostrategycti"
    [data]="seostrategycti()"
  ></seok-classic-text-image>

  <seok-classic-text-image
    id="onclickdeploycti"
    [data]="onclickdeploycti()"
  ></seok-classic-text-image>

  <seok-classic-text-image
    id="highperformancecti"
    [data]="highperformancecti()"
  ></seok-classic-text-image>

  <seok-classic-text-image
    id="organictrafficcti"
    [data]="organictrafficcti()"
></seok-classic-text-image>
</div>

<seok-big-title class="mt-60" id="pricing" [data]="pricing()"></seok-big-title>

<seok-prices class="mt-60" id="pricingitem" [data]="pricingitem()"></seok-prices>

<seok-faq class="mt-60" id="faq1719596154289" [data]="faq1719596154289()"></seok-faq>
