<div class="-z-10 not-centered top-0 left-0 w-full h-0 overflow-x-clip relative pointer-events-none">
  <svg class="translate-x-[-50%]" viewBox="0 0 1241 1241" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.5" filter="url(#filter0_f_2_135)">
      <path class="fill-primary-500 dark:fill-primary-400" d="M525.343 900.419L881.634 948.513L1018 251.44L634.418 502.34L525.343 900.419Z"/>
      <path class="fill-primary-700 dark:fill-primary-300" d="M1018 251.44L838.113 264.622L535.207 168L374.453 203.346L634.418 502.34L1018 251.44Z"/>
      <path class="fill-primary-400 dark:fill-primary-600" d="M374.453 203.346L223 299.968L225.918 748.025L634.418 502.34L374.453 203.346Z"/>
      <path class="fill-primary-300 dark:fill-primary-700" d="M281.045 1025L525.343 900.419L634.418 502.34L225.918 748.025L281.045 1025Z"/>
    </g>
    <defs>
      <filter id="filter0_f_2_135" x="62.6669" y="7.66677" width="1115.67" height="1177.67" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="80.1666" result="effect1_foregroundBlur_2_135"/>
      </filter>
    </defs>
  </svg>
</div>

<seok-catchphrase class="not-centered" [data]="catchphraseData()"></seok-catchphrase>

<seok-big-title class="mt-20 !max-w-[600px]" [data]="{
  title: 'Achieve Perfect Performance',
  overtitle: 'Unmatched Speed and Efficiency',
  subtitle: 'See Your Website Score Perfect on Google PageSpeed',
  overtitlePrimary: true
}"></seok-big-title>

<seok-image-presentation [data]="{
  img: {
    alt: 'Pagespeed results for seo-kit.io',
    link: '/pagespeed-seo-kit.webp',
    objectFit: 'contains',
    caption: 'Pagespeed results for seo-kit.io'
  },
  width: '1900',
  height: '1028',
  loading: 'auto'
}"></seok-image-presentation>

<div class="not-centered flex flex-col md:gap-60 md:mt-60 gap-20 mt-20">
  <seok-classic-text-image
    id="setupcti"
    [data]="setupcti()"
  ></seok-classic-text-image>

  <seok-classic-text-image
    id="configurepreviewcti"
    [data]="configurepreviewcti()"
  ></seok-classic-text-image>

  <seok-classic-text-image
    id="seostrategycti"
    [data]="seostrategycti()"
  ></seok-classic-text-image>

  <seok-classic-text-image
    id="onclickdeploycti"
    [data]="onclickdeploycti()"
  ></seok-classic-text-image>

  <seok-classic-text-image
    id="highperformancecti"
    [data]="highperformancecti()"
  ></seok-classic-text-image>

  <seok-classic-text-image
    id="organictrafficcti"
    [data]="organictrafficcti()"
></seok-classic-text-image>
</div>

<seok-big-title class="md:mt-60 mt-20" id="pricing" [data]="pricing()"></seok-big-title>

<div class="-z-10 not-centered top-0 left-0 w-full h-0 overflow-x-clip relative pointer-events-none">
  <svg class="scale-150" viewBox="0 0 1241 1241" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.5" filter="url(#filter0_f_2_135)">
      <path class="fill-primary-500 dark:fill-primary-400" d="M525.343 900.419L881.634 948.513L1018 251.44L634.418 502.34L525.343 900.419Z"/>
      <path class="fill-primary-700 dark:fill-primary-300" d="M1018 251.44L838.113 264.622L535.207 168L374.453 203.346L634.418 502.34L1018 251.44Z"/>
      <path class="fill-primary-400 dark:fill-primary-600" d="M374.453 203.346L223 299.968L225.918 748.025L634.418 502.34L374.453 203.346Z"/>
      <path class="fill-primary-300 dark:fill-primary-700" d="M281.045 1025L525.343 900.419L634.418 502.34L225.918 748.025L281.045 1025Z"/>
    </g>
    <defs>
      <filter id="filter0_f_2_135" x="62.6669" y="7.66677" width="1115.67" height="1177.67" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="80.1666" result="effect1_foregroundBlur_2_135"/>
      </filter>
    </defs>
  </svg>
</div>

<seok-prices class="mt-20 max-w-[600px] not-centered mx-auto px-8 no-text-size-style" id="pricingitem" [data]="pricingitem()"></seok-prices>

<seok-image-presentation class="!max-w-[500px] md:!mt-40 mt-20" [data]="{
  img: {
    alt: 'Invest in sustainable growth with our cost-effective SEO solution!',
    link: '/meme-drake-en.webp',
    objectFit: 'contains',
    caption: 'Invest in sustainable growth with our cost-effective SEO solution!'
  },
  width: '500',
  height: '500',
  loading: 'auto'
}"></seok-image-presentation>

<div class="-z-10 not-centered top-0 left-0 w-full h-0 overflow-x-clip relative pointer-events-none">
  <svg class="scale-150" viewBox="0 0 1241 1241" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.5" filter="url(#filter0_f_2_135)">
      <path class="fill-primary-500 dark:fill-primary-400" d="M525.343 900.419L881.634 948.513L1018 251.44L634.418 502.34L525.343 900.419Z"/>
      <path class="fill-primary-700 dark:fill-primary-300" d="M1018 251.44L838.113 264.622L535.207 168L374.453 203.346L634.418 502.34L1018 251.44Z"/>
      <path class="fill-primary-400 dark:fill-primary-600" d="M374.453 203.346L223 299.968L225.918 748.025L634.418 502.34L374.453 203.346Z"/>
      <path class="fill-primary-300 dark:fill-primary-700" d="M281.045 1025L525.343 900.419L634.418 502.34L225.918 748.025L281.045 1025Z"/>
    </g>
    <defs>
      <filter id="filter0_f_2_135" x="62.6669" y="7.66677" width="1115.67" height="1177.67" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="80.1666" result="effect1_foregroundBlur_2_135"/>
      </filter>
    </defs>
  </svg>
</div>

<seok-faq class="md:mt-60 mt-20 max-w-screen-md" id="faq1719596154289" [data]="faq1719596154289()"></seok-faq>
