<h2 class="font-title text-2xl mt-12">List of components</h2>

<app-catchphrase-demo></app-catchphrase-demo>

<div class="h-[1px] bg-neutral-500 w-full mt-8"></div>

<app-call-to-action-demo></app-call-to-action-demo>
<div class="h-[1px] bg-neutral-500 w-full mt-8"></div>

<app-big-title-demo></app-big-title-demo>
<div class="h-[1px] bg-neutral-500 w-full mt-8"></div>

<app-classic-text-image-demo></app-classic-text-image-demo>
<div class="h-[1px] bg-neutral-500 w-full mt-8"></div>

<app-faq-demo></app-faq-demo>
<div class="h-[1px] bg-neutral-500 w-full mt-8"></div>

<app-image-presentation-demo></app-image-presentation-demo>
<div class="h-[1px] bg-neutral-500 w-full mt-8"></div>

<app-prices-demo></app-prices-demo>
<div class="h-[1px] bg-neutral-500 w-full mt-8"></div>

<app-testimonies-demo></app-testimonies-demo>
<div class="h-[1px] bg-neutral-500 w-full mt-8"></div>

<app-video-presentation-demo></app-video-presentation-demo>
