<main>
  <p>Last updated on August 25, 2024</p>

  <p>
    The site <a href="https://seo-kit.io">seo-kit.io</a> is governed by French law. Any dispute or legal issue related to the use of the site shall be subject to the exclusive jurisdiction of the French courts.
  </p>


  <h1>Legal Notice</h1>

  <p>
    In accordance with the provisions of Law No. 2004-575 of June 21, 2004, for confidence in the digital economy, users of the site are informed of the identity of the various parties involved in its creation and monitoring.
  </p>

  <h2>Site Edition</h2>
  <p>
    The site <a href="https://seo-kit.io">seo-kit.io</a> is published by the company MERCERON Alexis, whose head office is located at 19 Place du Président Kennedy, 49100 Angers (848 971 453 R.C.S. Angers).
    <br>Publication Manager: Alexis Merceron, Manager.
  </p>

  <h2>Hosting</h2>
  <p>
    The site <a href="https://seo-kit.io">seo-kit.io</a> is hosted by Firebase (<a href="https://www.firebase.com">https://www.firebase.com</a>) of Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States.
  </p>

  <h2>Contact Us</h2>
  <p>
    By email: <a href="mailto:support@seo-kit.io">support&#64;seo-kit.io</a><br>
  </p>
</main>
